<template>
  <div class='container' 
    v-on:drag.stop.prevent
    v-on:dragstart.stop.prevent
    v-on:dragend.stop.prevent
    v-on:dragover.stop.prevent
    v-on:dragenter.stop.prevent
    v-on:dragleave.stop.prevent
    v-on:drop.prevent='open'
    >
    <div class='toolbar non-select'>
      <span v-if='isZoomed' @click='$store.commit("UP")' class='up action tool'>
        <i class='material-icons'>keyboard_arrow_up</i>
      </span>
      <span v-if='isZoomed' @click='$store.commit("RESET")' class='action tool'>
        <i class='material-icons'>zoom_out_map</i>
      </span>
      <input type='file' id='file' v-on:change='open'></input>
      <label for='file' class='action tool'>
        <i class='material-icons'>folder_open</i>
      </label>
      <a class='action tool' :href='dataUrl' download='tacky.json'>
        <i class='material-icons'>file_download</i>
      </a>
      <span v-if='view === "layers"' @click='view = "list"' class='action tool'>
        <i class='material-icons'>list</i>
      </span>
      <span v-else @click='view = "layers"' class='action tool'>
        <i class='material-icons'>layers</i>
      </span>
      <span @click='helpVisible = !helpVisible' class='action tool'>
        <i class='material-icons'>help_outline</i>
      </span>
    </div>

    <div v-if='helpVisible' class='help'>
      <div v-for='mode in Object.keys(help)'>
        <div v-text='mode' class='mode'></div>
        <ul class='shortcuts'>
          <li v-for='shortcut in help[mode]'>
            <span class='command' v-text='shortcut.command'></span>
            <span class='act' v-text='shortcut.action'></span>
          </li>
        </ul>
      </div>
    </div>
    <stack v-if='view === "layers"' :data='context'></stack>
    <list v-else :data='list'></list>
    <context-menu id="context-menu" ref="ctxMenu">
      <li v-if='contextMenuData.state !== "Complete"' @click='$store.commit("MARK_COMPLETE", contextMenuData.id)'><i class="material-icons">check</i>Mark complete</li>
      <li v-else @click='$store.commit("MARK_INCOMPLETE", contextMenuData.id)'><i class="material-icons">clear</i>Mark incomplete</li>
      <li @click='copy'><i class="material-icons">content_copy</i>Copy</li>
      <li v-if='copyRegister' @click='$store.dispatch("paste", contextMenuData.id)'><i class="material-icons">content_paste</i>Paste</li>
      <li @click='$store.commit("ZOOM", contextMenuData.id)'><i class="material-icons">zoom_in</i>Zoom</li>
      <li @click='$store.commit("DELETE", contextMenuData.id)'><i class="material-icons">delete</i>Delete</li>
    </context-menu>
  </div>
</template>

<script>
import Help from '../help.js'
import Data from '../services/data.js'
import contextMenu from 'vue-context-menu'
import {EventBus} from '../bus.js'

export default {
  name: 'container',
  components: {contextMenu},
  data () {
    return {
      view: 'layers',
      help: Help,
      helpVisible: false,
      contextMenuData: {},
      copyRegister: false
    }
  },
  computed: {
    context () {
      return this.$store.state.nodes[this.$store.state.context]
    },
    isZoomed () {
      return this.$store.state.context !== this.$store.state.tree.id
    },
    dataUrl () {
      let result = this.$store.state.tree
      let json = JSON.stringify(result)
      let blob = new Blob([json], {type: 'application/json'})
      return URL.createObjectURL(blob)
    },
    list () {
      return Data.traverse(this.$store.state.tree).map(e => {
        e.path.slice(1)
        return e
      })
    },
    copyRegister () {
      return this.$store.getters.copyRegister
    }
  },
  methods: {
    open (e) {
      let _this = this
      let file = e.target.files ? e.target.files[0] : e.dataTransfer.files[0]
      let reader = new FileReader()

      reader.onload = function (e) {
        let d = JSON.parse(e.target.result)
        _this.$store.commit('LOAD', d)
      }

      reader.readAsText(file)
    },
    copy () {
      this.copyRegister = true
      this.$store.dispatch('copy', this.contextMenuData.id)
    }
  },
  mounted () {
    EventBus.$on('contextMenu', (d) => {
      this.contextMenuData = d
      this.$refs.ctxMenu.open()
    })
  }
}
</script>

<style lang='scss' scoped>
  .container {

    .toolbar {
      margin-bottom: 25px;

      .tool {
        color: #41b883;
        padding: 5px;

        &:hover {
          color: black;
        }
      }

      #file {
        display: none;
      }
    }

    .help {
      text-align: left;
      width: 500px;
      margin: 0 auto;

      .mode {
        text-align: center;
        font-weight: 800;
      }

      .command {
        display: inline-block;
        color: #41b883;
        width: 200px;
        text-align: right;
        margin-right: 10px;
      }

      .act {
        display: inline-block;
        width: 200px;
      }

      ul {
        margin-top: 3px;
      }

      li {
        display: block;
      }
    }
  }
</style>
