<template>
  <div class="list">

    <div v-if="!data.length">
      No paths yet...
    </div>

    <div v-for="(scenario, index) in data" class='card'>
      <input @change='updateName($event, scenario.id)' v-model='nodes[scenario.id].name' placeholder="New test...">
      <ol>
        <li v-for="step in scenario.path">
          {{step}}
        </li>
      </ol>
      <div class="count">{{index + 1}}</div>
    </div>

  </div>
</template>

<script>

  export default {
    name: 'list',
    props: ['data'],
    computed: {
      nodes () {
        return this.$store.state.nodes
      }
    },
    methods: {
      updateName (e, id) {
        this.$store.commit('UPDATE_NAME', { id, name: e.target.value })
      }
    }
  }

</script>

<style lang="scss" scoped>
  .list {
    margin: 0 100px;
    text-align: left;
    font-size: 1.2rem;

    .card {
      background-color: #eee;
      position: relative;

      input {
        width: 100%;
        height: 2rem;
        font-size: 1.2rem;
        outline: none;
        text-align: center;
        background-color: #eee;
        border: none;
        border-bottom: 1px solid white;
        text-overflow: ellipsis;
        font-family: 'Avenir', Helvetica, Arial, sans-serif;


        &.static:focus {
          background-color: #41b883;
          color: white;
        }

        &:focus {
          background-color: white;
          border: 1px solid #41b883;
          border-top: none;
        }
      }

      ol {
        padding-bottom: 10px;
      }

      .count {
        font-size: 3em;
        position: absolute;
        right: 10px;
        bottom: 0;
        color: white;
      }
    }

  }
</style>
