<template>
  <div class="stack">
    <input v-model="data.content" 
      @keyup.enter="onEnter" 
      @keyup.73="onInsert"
      @keyup.esc="onCommand"
      @keyup.delete="onDelete"
      @keyup.68="onDelete"
      @keyup.88="onDelete"
      v-focus="data.focused"
      @focus="$store.commit('FOCUS', data.id)" 
      @blur="data.focused = false"
      @keydown.up="focusUp(data.id)"
      @keydown.75="focusUp(data.id)"
      @keydown.down="focusDown"
      @keydown.74="focusDown"
      @keydown.left="focusShift(true, $event)"
      @keydown.72="focusShift(true, $event)"
      @keydown.right="focusShift(false, $event)"
      @keydown.76="focusShift(false, $event)"
      @keydown.187.shift="onZoom"
      @keydown.189.shift="onZoomOut"
      @keydown.48="onResetZoom"
      @mousedown="onMouseDown"
      @mouseup="onMouseUp"
      @mouseenter='hovering = true'
      @mouseleave='hovering = false'
      @contextmenu.prevent='showContextMenu'
      :class="{
        static: mode === 'Command', 
        highlight: data.highlight, 
        droppable, 
        hovering, 
        complete: data.state === 'Complete'
      }"
      :readonly='mode === "Command"'>

    <div v-if='data.children.length' class="set">
      <table>
        <tr>
          <td v-for="(child, index) in data.children">
            <stack :data="child" :class="{ first: index === 0 }"></stack>
          </td>
        </tr>
      </table>
      <div class="add action non-select" @click="$store.dispatch('addChild', data.id)">
        +
      </div>
    </div>

    <div v-else class="add action non-select">
      <div @click="$store.dispatch('addChild', data.id)">
        +
      </div>
    </div>
  </div>
</template>

<script>
  import {mixin as focusMixin} from 'vue-focus'
  import {EventBus} from '../bus.js'

  export default {
    name: 'stack',
    mixins: [focusMixin],
    props: ['data'],
    data () {
      return {
        hovering: false
      }
    },
    computed: {
      mode () {
        return this.$store.state.mode
      },
      droppable () {
        return this.$store.state.dragging
      }
    },
    methods: {
      showContextMenu () {
        EventBus.$emit('contextMenu', this.data)
      },
      onEnter () {
        if (this.mode === 'Insert') {
          this.$store.dispatch('addChild', event.shiftKey ? this.data.parent : this.data.id)
        } else {
          this.onInsert()
        }
      },
      onInsert () {
        this.$store.commit('CHANGE_MODE', 'Insert')
      },
      onCommand () {
        this.$store.commit('CHANGE_MODE', 'Command')
      },
      onDelete () {
        if (this.mode === 'Command') {
          this.$store.commit('DELETE', this.data.id)
          this.focusUp()
        }
      },
      onZoom () {
        if (this.mode === 'Command') {
          this.$store.commit('ZOOM', this.data.id)
        }
      },
      onZoomOut () {
        if (this.mode === 'Command') {
          this.$store.commit('UP')
        }
      },
      onResetZoom () {
        if (this.mode === 'Command') {
          this.$store.commit('RESET')
        }
      },
      focusUp () {
        if (this.mode === 'Command') {
          if (this.data.parent) {
            this.$store.commit('FOCUS', this.data.parent)
          }
        }
      },
      focusDown () {
        if (this.mode === 'Command') {
          if (this.data.children.length) {
            this.$store.commit('FOCUS', this.data.children[0].id)
          }
        }
      },
      focusShift (left, e) {
        if (this.mode === 'Command') {
          if (this.data.parent) {
            let sibling = this.data.siblings[left ? 'left' : 'right']
            if (sibling) {
              this.$store.commit('FOCUS', sibling)
            }
          }
        }
      },
      onMouseDown () {
        if (this.mode === 'Command') {
          this.$store.dispatch('drag', this.data.id)
        }
      },
      onMouseUp () {
        if (this.mode === 'Command') {
          this.$store.dispatch('drop', this.data.id)
        }
      }
    }
  }
</script>

<style lang="scss" scoped>

.stack {
  @import '../assets/scss/main';
  
  input {
    width: 100%;
    height: 2rem;
    font-size: 1.2rem;
    outline: none;
    text-align: center;
    background-color: #eee;
    border: 1px solid white;
    border-top: none;
    text-overflow: ellipsis;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;

    // Insert mode
    &:not(.static) {
      &.complete {
        background-color: #41b883;
        color: white;
      }
      &:focus {
        color: black;
        background-color: white;
        border: 1px solid #41b883;
        border-top: none;
      }
    }

    // Command mode
    &.static {
      @extend .non-select;

      &:focus {
        background-color: #41b883;
        color: white;
      }

      &:not(.highlight) {
        background-color: white;
      }

      &.droppable {
        cursor: pointer;

        &.hovering {
          background-color: #41b883;
          color: white;
        }
      }
    }

  }

  &:not(.first) {
    margin-left: -1px;
  }

}

.set {
  position: relative;


  table {
    border-collapse: collapse;
    width: 100%;

    td {
      padding: 0;
      vertical-align: top;
    }
  }

  > .add {
    position: absolute;
    right: 5px;
    top: -3px;
    font-size: 1.5rem;
  }

}

</style>
