<template>
  <div id="app">
    <h1 class='non-select'>Tacky</h1>
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'app',
    mounted () {
      window.addEventListener('keyup', (e) => {
        if (e.ctrlKey) {
          if (e.key === 'z') {
            e.preventDefault()
            this.$store.commit('UNDO')
          } else if (e.key === 'y') {
            e.preventDefault()
            this.$store.commit('REDO')
          }
        }
      })
    }
  }
</script>

<style lang="scss">

* {
  box-sizing: border-box;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;

  h1 {
    color: #41b883;
    font-family: 'Bungee Shade', cursive;
    font-size: 3rem;
  }
}

.action {
  cursor: pointer;
}

.add {
  color: #aaa;
  font-size: 2rem;
  line-height: 2.5rem;

  &:hover {
    color: black;
  }
}

#context-menu {
  border: none;
}

.open .ctx-menu {
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
  border: 0;
  padding: 0;
  border-radius: 0;

  li {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;

    i {
      margin-right: 5px;
    }

    &:hover {
      background-color: #ccc;
    }
  }


}
</style>
